{% extends 'FittingRoom/base.html' %}

{% block content %}
<!-- Two -->
    <section id="two" class="wrapper style1 special">
        <div class="inner">
            <h2>Contact</h2>
            <figure>
                <blockquote>

                </blockquote>
                <footer>
                    <cite class="author">Johnny Dao</cite>
                    <cite class="company">Student, Cal Poly Pomona</cite>
                </footer>
            </figure>
        </div>
    </section>

    <footer id="footer">
        <div class="inner">
            <h2>Get In Touch</h2>
            <ul class="actions">
                <li>
                    <span class="icon fa-github"></span>
                    <a href="https://github.com/jdao25">
                        https://github.com/jdao25
                    </a>
                </li>

                <li>
                    <span class="icon fa-linkedin"></span>
                    <a href="https://www.linkedin.com/in/johnny-dao/">
                        https://www.linkedin.com/in/johnny-dao/
                    </a>
                </li>
            </ul>
        </div>
    </footer>
{% endblock content %}
