<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/FittingRoom/CSS/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        {% if title %}
            <title>Perfect-Fit - {{ title }}</title>
        {% else %}
            <title>Perfect-Fit - Dress Visualization</title>
        {% endif %}
    </head>

    <body>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js"></script>
        <script type="text/javascript" src = "/static/FittingRoom/Scripts/js/Three/OrbitControls.js"></script>
        <script type="text/javascript" src = "/static/FittingRoom/Scripts/js/Three/GLTFLoader.js"></script>

        <!-- Header -->
        <header id="header">
            <nav class="left">
                <a href="#menu">
                    <span>
                        <div>
                            <div style = "width: 25px; height:4px; background-color: #25a2c3; margin: 5px; margin-top: 25%;"></div>
                            <div style = "width: 25px; height:4px; background-color: #25a2c3; margin: 5px;"></div>
                            <div style = "width: 25px; height:4px; background-color: #25a2c3; margin: 5px;"></div>
                        </div>
                    </span>
                </a>
            </nav>
            <a href="{% url 'FittingRoom-Home' %}"><img style = "width: 100; height:100%;" src = "/static/FittingRoom/Images/logo.png"></a>
            <nav class="right">
                <a href="{% url 'User-Profile' %}" class = "button alt">{{ user.username }}</a>
                <a href="{% url 'User-Logout' %}" class = "button alt">Logout</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <div style = "text-align: center;">
                <h1>Menu</h1><hr>
            </div>
            <ul class="links" style = "text-align: center;">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'FittingRoom-Contact' %}">Contact</a></li>
                <li>
                    <a href="#" class = "dropbtn" onclick="sampleDropdownBtn()">
                        Sample Dresses
                        <i class="fa fa-caret-down"></i>
                    </a>
                </li>
                    <div class="dropbtn">
                        <div class="dropdown-content" id = "SampleDressDropDown">
                            {% for key, value in sample_dress_path_list.items %}
                                <li>
                                    <input class="sizing" type="image" src='{{value}}'
                                     value='{{value}}' id="{{ key }}" onclick="wearSampleDress(this)">
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                <li>
                    <a href="#" class = "dropbtn" onclick="importDropdownBtn()">
                        Imported Dresses
                        <i class="fa fa-caret-down"></i>
                    </a>
                </li>
                    <div class="dropbtn">
                        <div class="dropdown-content" id = "ImportedDressDropDown">
                            {% for key, value in upload_dress_path_list.items %}
                                <li>
                                    <input class="sizing" type="image" src='{{value}}'
                                     value='{{value}}' id="{{ key }}" onclick="wearUploadedDress(this)">
                                </li>
                            {% endfor %}
                        </div>
                    </div>
                <hr>
            </ul>
            <ul class="actions vertical">
                <li><a href="{% url 'User-Profile' %}" class = "button fit">{{ user.username }}</a></li>
                <li><a href="{% url 'User-Logout' %}" class = "button fit">Logout</a></li>
            </ul>
        </nav>

        <div class="center">
            <form class="center" method="post">
                {% csrf_token %}
                <script type="text/javascript">
                    var prevDress = [];

                    function sampleDropdownBtn()
                    {
                        document.getElementById("SampleDressDropDown").classList.toggle("show");
                    }

                    function importDropdownBtn()
                    {
                        document.getElementById("ImportedDressDropDown").classList.toggle("show");
                    }

                    var path_to_model = "/static/FittingRoom/Models/";
                    var path_to_dress = "/static/FittingRoom/Dresses/";
                    var dressOn = false;

                    const FOOT_VALUE = 0.4;
                    const INCHES_VALUE = 0.033333333;

                    function displayStatus(heightFoot, heightInches, waistInches)
                    {
                        if (dressOn) console.log("Wearing Dress: True");
                        else console.log("Wearing Dress: False")

                        console.log("Height Foot: ", heightFoot);
                        console.log("Height Inches: ", heightInches);
                        console.log("Waist Inches: ", waistInches);
                    }

                    function positionAlgorithmFoot(foot)
                    {
                        if (foot == 0) return 0;
                        else if (foot == 1) return FOOT_VALUE;
                        else
                            return positionAlgorithmFoot(foot - 1) + FOOT_VALUE;
                    }

                    function positionAlgorithmInches(inches)
                    {
                        if (inches == 0) return 0;
                        else if (inches == 1) return INCHES_VALUE;
                        else return positionAlgorithmInches(inches - 1) + INCHES_VALUE;
                    }

                    function changeHeight(currentDress)
                    {
                        var userFoot = document.getElementById("foot").value;
                        var userInches = document.getElementById("inches").value;
                        var userWaist = document.getElementById("waist").value;

                        displayStatus(userFoot, userInches, userWaist);

                        var clock = new THREE.Clock();
                        var scene = new THREE.Scene();
                        var camera = new THREE.PerspectiveCamera( 35,
                            window.innerWidth / window.innerHeight, 1, 3000 );
                        var renderer = new THREE.WebGLRenderer(
                            {canvas: document.getElementById('default_canvas'), antialias: true});
                        var ambientLight = new THREE.AmbientLight( 0xcccccc );
                        var directionalLight = new THREE.DirectionalLight( 0xffffff );

                        camera.position.set( 0, -3, 15 );
                        renderer.setClearColor( 0xffffff );
                        renderer.setPixelRatio( window.devicePixelRatio );
                        renderer.setSize((window.innerWidth / 2), (window.innerHeight / 2) );

                        // Used to resize the canvas and model
                        window.addEventListener( 'resize',
                        function()
                        {
                            camera.aspect = window.innerWidth / window.innerHeight;
                            camera.updateProjectionMatrix();
                            renderer.setSize((window.innerWidth / 2), (window.innerHeight / 2));
                        }, false );

                        document.body.appendChild(renderer.domElement);

                        var controls = new THREE.OrbitControls( camera, renderer.domElement );
                        var controlSwitch = false;

                        controls.enableZoom = controlSwitch;
                        controls.enableRotate = controlSwitch;
                        controls.enabled = controlSwitch;

                        directionalLight.position.set( 0, 1, 1 ).normalize();
                        scene.add( ambientLight );
                        scene.add( directionalLight );

                        /*
                        var backgroundLoader = new THREE.TextureLoader();
                        backgroundLoader.load('/static/FittingRoom/Background/background.png' ,
                        function(texture)
                        {
                            scene.background = texture;
                        });
                        */

                        if (dressOn)
                        {
                            // This is to hold the value of the previous dress
                            if (prevDress.length == 0)
                                prevDress[0] = currentDress;
                            else
                            {
                                if (currentDress != undefined)
                                    prevDress[0] = currentDress;
                            }

                            var dress = prevDress[0];
                            var texture = new THREE.TextureLoader();
                            var material = new THREE.MeshBasicMaterial( {
                                map: texture.load(dress), transparent: true});

                            var geometry = new THREE.PlaneGeometry(5.3, 7*.75);

                            var mesh = new THREE.Mesh(geometry, material);
                            // mesh.position.set(-0.22, -0.55, 1);
                            mesh.position.set(-0.22, -0.55, 1);
                        }

                        var model = ((!dressOn)? path_to_model.concat("Bashful.glb")
                            : path_to_model.concat("Idle_State_bodyless.glb") );
                        var loader = new THREE.GLTFLoader();
                        loader.load( model,
                        function ( gltf )
                        {
                            var object = gltf.scene;
                            var mixer = new THREE.AnimationMixer(object);

                            gltf.animations.forEach((clip) => { mixer.clipAction(clip).play() });

                            var twelveInches = 12, oneFoot = 1;
                            if ((userFoot == 0 && userInches < twelveInches)
                                || (userFoot == "" && userInches < twelveInches)
                                || (userFoot < oneFoot && userInches == 0)
                                || (userFoot < oneFoot && userInches == ""))
                                {
                                    gltf.scene.position.set(2, 2, 2);
                                }
                            else
                            {
                                var maxInches = 75, maxFoot = 6;
                                var maxHeight = 2.5;

                                var height = (userFoot * FOOT_VALUE) + (userInches * INCHES_VALUE);

                                if (height > maxHeight)
                                    height = maxHeight;

                                gltf.scene.scale.set( 2, height, 2 );
                                console.log(height);
                            }

                            gltf.scene.position.x = 0;
                            gltf.scene.position.y = -3;
                            gltf.scene.position.z = 0;

                            function animate()
                            {
                                requestAnimationFrame( animate );
                                var delta3 = clock.getDelta();

                                if ( mixer ) mixer.update( delta3 );
                                renderer.render( scene, camera );
                            }
                            animate();

                            scene.add( gltf.scene );
                            if (dressOn) scene.add( mesh );
                        });

                        function render()
                        {
                            renderer.render(scene, camera);
                            requestAnimationFrame(render);
                        }
                        render();
                    }

                    function findIDValue(dress, keysList, arrLength)
                    {
                        var currentDress = undefined;
                        var idx = 0;
                        var foundDress = false;

                        while (!foundDress && idx < arrLength)
                        {
                            if (dress.getAttribute('id') == keysList[idx])
                            {
                                currentDress = document.getElementById(keysList[idx]).value;
                                foundDress = true;
                            }
                            else
                                idx++;
                        }

                        return currentDress;
                    }

                    function wearSampleDress(dress)
                    {
                        dressOn = true;

                        var sDressList = {{ js_sample_dress_data | safe }};
                        var sKeys = Object.keys(sDressList);
                        var arrLength = sKeys.length;
                        var currentDress = findIDValue(dress, sKeys, arrLength);

                        console.log("Dress: ", currentDress);

                        changeHeight(currentDress);
                    }

                    function wearUploadedDress(dress)
                    {
                        dressOn = true;

                        var uDressList = {{ js_upload_dress_data | safe }};
                        var uKeys = Object.keys(uDressList);
                        var currentDress = undefined;
                        var arrLength = uKeys.length;
                        var currentDress = findIDValue(dress, uKeys, arrLength);

                        console.log("Dress: ", currentDress);

                        changeHeight(currentDress);
                    }
                </script>

                <canvas id = "default_canvas" class = "center"></canvas>
                <script type="text/javascript" src = "/static/FittingRoom/Scripts/js/Canvas/home.js"></script>
                <div style = "text-align: center;"><h3>Enter your information</h3></div>
                <table>
                    <tr>
                        <h5>Height</h5>
                        <td><label for="Foot">Height (Foot):</label></td>
                        <td><input name = "Foot" type="text" id = "foot" style = "text-align: center;" value = "5"></td>
                        <td><label for="Inches">Height (Inches):</label></td>
                        <td><input name = "Inches" type="text" id = "inches" style = "text-align: center;" value = "3"></td>
                        <td><label for="Waist">Waist (Inches):</label></td>
                        <td><input name = "Waist" type="text" id = "waist" style = "text-align: center;" value = "25"></td>
                </tr>
                </table>
                <div style = "text-align: center;">
                    <button type="button" onclick = "changeHeight()" class = "button alt">Update Model</button>
                </div>
            </form>
        </div>


        <!-- Scripts -->
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/FittingRoom/Scripts/js/jquery.scrolly.min.js"></script>
        <script src="/static/FittingRoom/Scripts/js/skel.min.js"></script>
        <script src="/static/FittingRoom/Scripts/js/util.js"></script>
        <script src="/static/FittingRoom/Scripts/js/main.js"></script>
    </body>
</html>
