<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/static/FittingRoom/CSS/main.css" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

        {% if title %}
            <title>Perfect-Fit - {{ title }}</title>
        {% else %}
            <title>Perfect-Fit - Dress Visualization</title>
        {% endif %}
    </head>

    <body>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/three.js/109/three.min.js"></script>
        <script type="text/javascript" src = "/static/FittingRoom/Scripts/js/Three/OrbitControls.js"></script>
        <script type="text/javascript" src = "/static/FittingRoom/Scripts/js/Three/GLTFLoader.js"></script>

        <!-- Header -->
        <header id="header">
            <nav class="left">
                <a href="#menu">
                    <span>
                        <div>
                            <div style = "width: 25px; height:4px; background-color: #25a2c3; margin: 5px; margin-top: 25%;"></div>
                            <div style = "width: 25px; height:4px; background-color: #25a2c3; margin: 5px;"></div>
                            <div style = "width: 25px; height:4px; background-color: #25a2c3; margin: 5px;"></div>
                        </div>
                    </span>
                </a>
            </nav>
            <a href="{% url 'FittingRoom-Home' %}"><img style = "width: 100; height:100%;" src = "/static/FittingRoom/Images/logo.png"></a>
            <a href="{% url 'FittingRoom-Contact' %}"></a>
            <nav class="right">
                <a href="{% url 'User-Profile' %}" class = "button alt">{{ user.username }}</a>
                <a href="{% url 'User-Logout' %}" class = "button alt">Logout</a>
            </nav>
        </header>

        <!-- Menu -->
        <nav id="menu">
            <div style = "text-align: center;">
                <h1>Menu</h1><hr>
            </div>
            <ul class="links" style = "text-align: center;">
                <li><a href="/">Home</a></li>
                <li><a href="{% url 'FittingRoom-Contact' %}">Contact</a></li>
                <br>
                <li>
                    <div>
                        <button type="button" class = "button alt" onclick = "wearDress()">Put on dress</button>
                    </div>
                </li>
                <br>
            </ul>
            <ul class="actions vertical">
                <li><a href="{% url 'User-Profile' %}" class = "button fit">{{ user.username }}</a></li>
                <li><a href="{% url 'User-Logout' %}" class = "button fit">Logout</a></li>
            </ul>
        </nav>

        <div class="center">
            <form class="center" method="post">
                {% csrf_token %}
                <script type="text/javascript">
                    var path_to_model = "/static/FittingRoom/Models/";
                    var path_to_dress = "/static/FittingRoom/Dresses/";
                    var dressOn = false;

                    const FOOT_VALUE = 0;
                    const INCHES_VALUE = 0;

                    function displayStatus(heightFoot, heightInches, waistInches)
                    {
                        if (dressOn) console.log("Wearing Dress: True");
                        else console.log("Wearing Dress: False")

                        console.log("Height Foot: ", heightFoot);
                        console.log("Height Inches: ", heightInches);
                        console.log("Waist Inches: ", waistInches);
                    }

                    function positionAlgorithmFoot(foot)
                    {
                        if (foot == 0) return 0;
                        else if (foot == 1) return 2.5;
                        else return positionAlgorithmFoot(foot - 1) - 0.45;
                    }

                    function positionAlgorithmInches(inches)
                    {
                        if (inches == 0) return 0;
                        else if (inches == 1) return 2.9125;
                        else return positionAlgorithmInches(inches - 1) - 0.0375;
                    }

                    function changeHeight()
                    {
                        var foot = document.getElementById("foot").value;
                        var inches = document.getElementById("inches").value;
                        var waist = document.getElementById("waist").value;

                        var clock = new THREE.Clock();
                        var scene = new THREE.Scene();
                        var camera = new THREE.PerspectiveCamera( 35, window.innerWidth / window.innerHeight, 1, 3000 );
                        var renderer = new THREE.WebGLRenderer({canvas: document.getElementById('default_canvas'), antialias: true});
                        var ambientLight = new THREE.AmbientLight( 0xcccccc );
                        var directionalLight = new THREE.DirectionalLight( 0xffffff );

                        camera.position.set( 0, -3, 15 );
                        renderer.setClearColor( 0xffffff );
                        renderer.setPixelRatio( window.devicePixelRatio );
                        renderer.setSize((window.innerWidth / 2), (window.innerHeight / 2) );

                        // Used to resize the canvas and model
                        window.addEventListener( 'resize',
                        function()
                        {
                            camera.aspect = window.innerWidth / window.innerHeight;
                            camera.updateProjectionMatrix();
                            renderer.setSize((window.innerWidth / 2), (window.innerHeight / 2));
                        }, false );

                        document.body.appendChild(renderer.domElement);

                        var controls = new THREE.OrbitControls( camera, renderer.domElement );
                        var controlSwitch = false;

                        controls.enableZoom = controlSwitch;
                        controls.enableRotate = controlSwitch;
                        controls.enabled = controlSwitch;

                        directionalLight.position.set( 0, 1, 1 ).normalize();
                        scene.add( ambientLight );
                        scene.add( directionalLight );

                        if (dressOn)
                        {
                            var dress = path_to_dress.concat("dress_01.png");
                            var texture = new THREE.TextureLoader();
                            var material = new THREE.MeshBasicMaterial( {
                                map: texture.load(dress), transparent: true});
                            var length = (foot * 1.38) + (inches * 0.115);
                            var max_length = 8.395
                            console.log("Dress Length: ", length);

                            if (foot <= 0 && inches <= 0)
                                var geometry = new THREE.PlaneGeometry(6.5, 6.9*.75);
                            else
                            {
                                if (length > max_length)
                                    var geometry = new THREE.PlaneGeometry(6.5, max_length*.75);
                                else
                                    var geometry = new THREE.PlaneGeometry(6.5, (length)*.75);
                            }

                            var mesh = new THREE.Mesh(geometry, material);
                            var max_position = -0.2125;

                            if (foot <= 0 && inches <= 0)
                                mesh.position.set(-0.5, -0.7, 1);
                            else
                            {
                                if (foot == 0)
                                    var pos = -(positionAlgorithmInches(inches));
                                else
                                {
                                    var pos = -(positionAlgorithmFoot(foot) - (inches * 0.0375));
                                    console.log("Pos equation: ", positionAlgorithmFoot(foot), "-", inches * 0.0375);
                                }

                                console.log("Pos: ", pos)

                                if (pos > max_position)
                                    mesh.position.set(-0.5, max_position, 1);
                                else
                                    mesh.position.set(-0.5, pos, 1);
                            }
                        }

                        var model = ((!dressOn)? path_to_model.concat("Bashful.glb") : path_to_model.concat("Idle_State_bodyless.glb") );
                        var loader = new THREE.GLTFLoader();
                        loader.load( model,
                        function ( gltf )
                        {
                            var object = gltf.scene;
                            var mixer = new THREE.AnimationMixer(object);

                            gltf.animations.forEach((clip) => { mixer.clipAction(clip).play() });

                            if (foot <= 0 && inches <= 0)
                                gltf.scene.scale.set( 2, 2, 2 );
                            else
                            {
                                var y_axis = (foot * 0.4) + (inches * 0.033333333);
                                var max_height = 2.43; // 6' 1"

                                if (y_axis < max_height)
                                    gltf.scene.scale.set( 2, y_axis, 2 );
                                else
                                    gltf.scene.scale.set(2, max_height, 2);
                            }

                            gltf.scene.position.x = 0;
                            gltf.scene.position.y = -3;
                            gltf.scene.position.z = 0;

                            function animate()
                            {
                                requestAnimationFrame( animate );
                                var delta3 = clock.getDelta();

                                if ( mixer ) mixer.update( delta3 );
                                renderer.render( scene, camera );
                            }
                            animate();

                            scene.add( gltf.scene );
                            if (dressOn) scene.add( mesh );
                        });

                        function render()
                        {
                            renderer.render(scene, camera);
                            requestAnimationFrame(render);
                        }
                        render();
                    }

                    function wearDress()
                    {
                        dressOn = true;
                        changeHeight();
                    }
                </script>

                <canvas id = "default_canvas" class = "center"></canvas>
                <script type="text/javascript" src = "/static/FittingRoom/Scripts/js/Canvas/home.js"></script>
                <div style = "text-align: center;"><h3>Enter your information</h3></div>
                <table>
                    <tr>
                        <h5>Height</h5>
                        <td><label for="Foot">Height (Foot):</label></td>
                        <td><input name = "Foot" type="text" id = "foot" style = "text-align: center;" value = "5"></td>
                        <td><label for="Inches">Height (Inches):</label></td>
                        <td><input name = "Inches" type="text" id = "inches" style = "text-align: center;" value = "3"></td>
                        <td><label for="Waist">Waist (Inches):</label></td>
                        <td><input name = "Waist" type="text" id = "waist" style = "text-align: center;" value = "25"></td>
                </tr>
                </table>
                <div style = "text-align: center;">
                    <button type="button" onclick = "changeHeight()" class = "button alt">Update Model</button>
                </div>
            </form>
        </div>


        <!-- Scripts -->
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
        <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="/static/FittingRoom/Scripts/js/jquery.scrolly.min.js"></script>
        <script src="/static/FittingRoom/Scripts/js/skel.min.js"></script>
        <script src="/static/FittingRoom/Scripts/js/util.js"></script>
        <script src="/static/FittingRoom/Scripts/js/main.js"></script>
    </body>
</html>
